UI/Service References/WebService/WebServiceApi2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetProductosWCFBL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosWCFBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductosWCFBLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesWCFBL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesWCFBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientesWCFBLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPedidosWCFBL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pedidos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPedidosWCFBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPedidosWCFBLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetallePedidosWCFBL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detallePedidos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetallePedidosWCFBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDetallePedidosWCFBLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>